http:
  proxy: "http://3.212.104.192:3128" //https://hidemyna.me/ru/proxy-list/?type=s#list

telegram:
  token:
  debug: true

database:
  name: hosting
  user: hosting
  password: "1234"
  host: localhost
  port: 5433

log:
  prod: true
  output: /tmp/chat.log